{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Iniciar sesión - Checking{% endblock %}
{% block extra_css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <h2>Iniciar sesión</h2>
    <form class="form" method="post">
        {% csrf_token %}
        <span class="input-span">
            <label for="{{ form.username.id_for_label }}" class="label">Usuario</label>
            {{ form.username|add_class:"user" }}
        </span>
    <span class="input-span">
        <label for="{{ form.password.id_for_label }}" class="label">Contraseña</label>
        {{ form.password|add_class:"password" }}
    </span>
    <input class="submit" type="submit" value="Iniciar sesión" />
    </form>
{% endblock %}