{% extends "base/base.html" %}

{% block content %}
    <h2>Checador</h2>
    <form method="post">
        {% csrf_token %}
        {% if session %}
            <button type="submit" onclick="return confirm('¿Estás Seguro de registar la salida?');">Registrar salida</button>
        {% else %}
            <button type="submit">Registrar entrada</button>
        {% endif %}
    </form>

    {% if checador %}
        <h3>Historial de Checadas</h3>
        <table>
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Tipo</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sessions %}
                <tr>
                    <td>{{ s.start_time }}</td>
                    <td>{{ s.end_time|default:"-" }}</td>
                    <td>{{ s.duration|default:"-" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}